.dashboard-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.dashboard-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto; /* Prevent overflow */
}

.evasive-button-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Adjust this height as needed */
    position: relative;
}

.stats-section,
.notifications-section {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 20px; /* Added padding for spacing */
}

.dashboard-footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF6347; /* Tomato color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's above other elements */
}

.logout-button:hover {
    background-color: #FF4500; /* Darker shade on hover */
}
